<%= render partial: 'viauco/admin/shared/order_tabs', locals: { current: :credit_cards } %>

<% content_for :page_title do %>
  / <%= Viauco.t(:refund) %>
<% end %>

<%= form_tag do %>
  <h3><%= Viauco.t(:refund) %></h3>
  <fieldset data-hook="credit">
    <p>
      <%= label_tag :amount, Viauco.t(:amount) %>
      <%= text_field_tag :amount, @payment.amount %>
    </p>
    <p class="form-actions">
      <%= button Viauco.t(:make_refund) %>
    </p>
  </fieldset>
<% end %>
