<fieldset data-hook="credit_card">
  <legend><%= Viauco.t(:credit_card) %></legend>
  <table class="table table-condensed table-bordered">
    <tr>
      <th width="20%"><%= Viauco.t(:name_on_card) %>:</th>
      <td><%= payment.source.name %></td>
    </tr>
    <tr>
      <th><%= Viauco.t(:card_type) %>:</th>
      <td><%= payment.source.cc_type %></td>
    </tr>
    <tr>
      <th><%= Viauco.t(:card_number) %>:</th>
      <td><%= payment.source.display_number %></td>
    </tr>
    <tr>
      <th><%= Viauco.t(:expiration) %>:</th>
      <td><%= payment.source.month %>/<%= payment.source.year %></td>
    </tr>
  </table>
</fieldset>
